
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0077B5;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.productos-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 75px;
    width: 300px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.reseñas-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    padding: 10px;
    background-color: #0077B5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .productos-grid {
        flex-direction: column;
        align-items: center;
    }

    .reseñas-grid {
        grid-template-columns: 1fr;
    }
}
